.profile {
    /*font-size: 12px;*/
}
.profile__avatar {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.profile__image {
    width: 100%;
    margin: 0 auto;
    border-radius: 150px;
    z-index: 1;
}
.profile__change-avatar {
    display: block;
    padding: 8px;
    background: #ffffff;
    border-radius: 30px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    z-index: 2;
    width: 27px;
    height: 27px;
}
.profile__change-avatar img {
    display: inline-block;
    max-width: 100%;
}
.profile__status {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 15px;
    background: #e3e3e3;
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.profile__status::before {
    content: '';

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e3e3e3;

    display: block;
    position: absolute;
    top: -5px;
    right: 22px;
}
