.headerOuter {
    position: relative;
}
.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 100%;
}

.header__profile {
    align-self: flex-end;
}