.App {
    text-align: center;
    padding: 0 15px;
    width: 500px;
    border: 1px solid #999;
    border-radius: 30px;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.App-header {
    box-shadow: 0 9px 10px 5px #fff;
    z-index: 2;
    position: relative;
    height: 25%;
    padding-top: 15px;
    box-sizing: border-box;
}
.App-grid {
    height: 75%;
    overflow: auto;
    position: relative;
    z-index: 1;
}