.App {
  text-align: center;
  padding: 15px;
  width: 500px;
  border: 1px solid #999;
  border-radius: 30px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: auto;
}

.App-grid {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  /*align-items: center;*/
  /*justify-content: center;*/
}